@import "tailwindcss" source("../");

/* Dark mode: css class dark or system class + media query */
@custom-variant dark {
    /* This supports the .dark class */
    &:where(.dark *, .dark) {
        @slot;
    }

    /* This supports the .system class + media query */
    &:where(.system *, .system) {
        @media (prefers-color-scheme: dark) {
            @slot;
        }
    }
}

@layer base {
    :root {
        color-scheme: light dark;
    }

    .light {
        color-scheme: light;
    }

    .dark {
        color-scheme: dark;
    }
}

@theme {
    --color-app-1: light-dark(white, black);
    --color-app-12: light-dark(black, white);

    /* Animations */
    @keyframes caret-blink {
        0%,
        70%,
        100% {
            opacity: 1;
        }
        20%,
        50% {
            opacity: 0;
        }
    }
    --animate-caret: caret-blink 1.2s ease-out infinite;
}
