# Dependencies
node_modules/

# Dev toolchain secrets
.env

# Svelte Apps
.svelte-kit/

# React Router Apps
.react-router/

# Vercel build
.vercel/

# Temporary task list (before using issues)
TODO.md
