# Dependencies
node_modules/

# Build output
dist/

# Dev environment
.well-known/
.env
.env.*
!.env.example

# Cloudflare deployment
.wrangler/

# Tanstack Apps
.tanstack/

# React Router Apps
.react-router/
