:root {
  --mauve-1: #fdfcfd;
  --mauve-2: #faf9fb;
  --mauve-3: #f2eff3;
  --mauve-4: #eae7ec;
  --mauve-5: #e3dfe6;
  --mauve-6: #dbd8e0;
  --mauve-7: #d0cdd7;
  --mauve-8: #bcbac7;
  --mauve-9: #8e8c99;
  --mauve-10: #84828e;
  --mauve-11: #65636d;
  --mauve-12: #211f26;
  --mauve-dark-1: #121113;
  --mauve-dark-2: #1a191b;
  --mauve-dark-3: #232225;
  --mauve-dark-4: #2b292d;
  --mauve-dark-5: #323035;
  --mauve-dark-6: #3c393f;
  --mauve-dark-7: #49474e;
  --mauve-dark-8: #625f69;
  --mauve-dark-9: #6f6d78;
  --mauve-dark-10: #7c7a85;
  --mauve-dark-11: #b5b2bc;
  --mauve-dark-12: #eeeef0;
  --violet-1: #fdfcfe;
  --violet-2: #faf8ff;
  --violet-3: #f4f0fe;
  --violet-4: #ebe4ff;
  --violet-5: #e1d9ff;
  --violet-6: #d4cafe;
  --violet-7: #c2b5f5;
  --violet-8: #aa99ec;
  --violet-9: #6e56cf;
  --violet-10: #654dc4;
  --violet-11: #6550b9;
  --violet-12: #2f265f;
  --violet-dark-1: #14121f;
  --violet-dark-2: #1b1525;
  --violet-dark-3: #291f43;
  --violet-dark-4: #33255b;
  --violet-dark-5: #3c2e69;
  --violet-dark-6: #473876;
  --violet-dark-7: #56468b;
  --violet-dark-8: #6958ad;
  --violet-dark-9: #6e56cf;
  --violet-dark-10: #7d66d9;
  --violet-dark-11: #baa7ff;
  --violet-dark-12: #e2ddfe;
}

[data-theme="mauvi"] {
  --app-1: light-dark(var(--mauve-1), var(--mauve-dark-1));
  --app-2: light-dark(var(--mauve-2), var(--mauve-dark-2));
  --app-3: light-dark(var(--mauve-3), var(--mauve-dark-3));
  --app-4: light-dark(var(--mauve-4), var(--mauve-dark-4));
  --app-5: light-dark(var(--mauve-5), var(--mauve-dark-5));
  --app-6: light-dark(var(--mauve-6), var(--mauve-dark-6));
  --app-7: light-dark(var(--mauve-7), var(--mauve-dark-7));
  --app-8: light-dark(var(--mauve-8), var(--mauve-dark-8));
  --app-9: light-dark(var(--mauve-9), var(--mauve-dark-9));
  --app-10: light-dark(var(--mauve-10), var(--mauve-dark-10));
  --app-11: light-dark(var(--mauve-11), var(--mauve-dark-11));
  --app-12: light-dark(var(--mauve-12), var(--mauve-dark-12));
  --accent-1: light-dark(var(--violet-1), var(--violet-dark-1));
  --accent-2: light-dark(var(--violet-2), var(--violet-dark-2));
  --accent-3: light-dark(var(--violet-3), var(--violet-dark-3));
  --accent-4: light-dark(var(--violet-4), var(--violet-dark-4));
  --accent-5: light-dark(var(--violet-5), var(--violet-dark-5));
  --accent-6: light-dark(var(--violet-6), var(--violet-dark-6));
  --accent-7: light-dark(var(--violet-7), var(--violet-dark-7));
  --accent-8: light-dark(var(--violet-8), var(--violet-dark-8));
  --accent-9: light-dark(var(--violet-9), var(--violet-dark-9));
  --accent-10: light-dark(var(--violet-10), var(--violet-dark-10));
  --accent-11: light-dark(var(--violet-11), var(--violet-dark-11));
  --accent-12: light-dark(var(--violet-12), var(--violet-dark-12));
}
