:root {
  --green-1: #fbfefc;
  --green-2: #f4fbf6;
  --green-3: #e6f6eb;
  --green-4: #d6f1df;
  --green-5: #c4e8d1;
  --green-6: #adddc0;
  --green-7: #8eceaa;
  --green-8: #5bb98b;
  --green-9: #30a46c;
  --green-10: #2b9a66;
  --green-11: #218358;
  --green-12: #193b2d;
  --green-dark-1: #0e1512;
  --green-dark-2: #121b17;
  --green-dark-3: #132d21;
  --green-dark-4: #113b29;
  --green-dark-5: #174933;
  --green-dark-6: #20573e;
  --green-dark-7: #28684a;
  --green-dark-8: #2f7c57;
  --green-dark-9: #30a46c;
  --green-dark-10: #33b074;
  --green-dark-11: #3dd68c;
  --green-dark-12: #b1f1cb;
  --blue-1: #fbfdff;
  --blue-2: #f4faff;
  --blue-3: #e6f4fe;
  --blue-4: #d5efff;
  --blue-5: #c2e5ff;
  --blue-6: #acd8fc;
  --blue-7: #8ec8f6;
  --blue-8: #5eb1ef;
  --blue-9: #0090ff;
  --blue-10: #0588f0;
  --blue-11: #0d74ce;
  --blue-12: #113264;
  --blue-dark-1: #0d1520;
  --blue-dark-2: #111927;
  --blue-dark-3: #0d2847;
  --blue-dark-4: #003362;
  --blue-dark-5: #004074;
  --blue-dark-6: #104d87;
  --blue-dark-7: #205d9e;
  --blue-dark-8: #2870bd;
  --blue-dark-9: #0090ff;
  --blue-dark-10: #3b9eff;
  --blue-dark-11: #70b8ff;
  --blue-dark-12: #c2e6ff;
  --red-1: #fffcfc;
  --red-2: #fff7f7;
  --red-3: #feebec;
  --red-4: #ffdbdc;
  --red-5: #ffcdce;
  --red-6: #fdbdbe;
  --red-7: #f4a9aa;
  --red-8: #eb8e90;
  --red-9: #e5484d;
  --red-10: #dc3e42;
  --red-11: #ce2c31;
  --red-12: #641723;
  --red-dark-1: #191111;
  --red-dark-2: #201314;
  --red-dark-3: #3b1219;
  --red-dark-4: #500f1c;
  --red-dark-5: #611623;
  --red-dark-6: #72232d;
  --red-dark-7: #8c333a;
  --red-dark-8: #b54548;
  --red-dark-9: #e5484d;
  --red-dark-10: #ec5d5e;
  --red-dark-11: #ff9592;
  --red-dark-12: #ffd1d9;
}

:root {
  --info-1: var(--blue-1);
  --info-2: var(--blue-2);
  --info-3: var(--blue-3);
  --info-4: var(--blue-4);
  --info-5: var(--blue-5);
  --info-6: var(--blue-6);
  --info-7: var(--blue-7);
  --info-8: var(--blue-8);
  --info-9: var(--blue-9);
  --info-10: var(--blue-10);
  --info-11: var(--blue-11);
  --info-12: var(--blue-12);
  --success-1: var(--green-1);
  --success-2: var(--green-2);
  --success-3: var(--green-3);
  --success-4: var(--green-4);
  --success-5: var(--green-5);
  --success-6: var(--green-6);
  --success-7: var(--green-7);
  --success-8: var(--green-8);
  --success-9: var(--green-9);
  --success-10: var(--green-10);
  --success-11: var(--green-11);
  --success-12: var(--green-12);
  --error-1: var(--red-1);
  --error-2: var(--red-2);
  --error-3: var(--red-3);
  --error-4: var(--red-4);
  --error-5: var(--red-5);
  --error-6: var(--red-6);
  --error-7: var(--red-7);
  --error-8: var(--red-8);
  --error-9: var(--red-9);
  --error-10: var(--red-10);
  --error-11: var(--red-11);
  --error-12: var(--red-12);
}

.dark {
  --info-1: var(--blue-dark-1);
  --info-2: var(--blue-dark-2);
  --info-3: var(--blue-dark-3);
  --info-4: var(--blue-dark-4);
  --info-5: var(--blue-dark-5);
  --info-6: var(--blue-dark-6);
  --info-7: var(--blue-dark-7);
  --info-8: var(--blue-dark-8);
  --info-9: var(--blue-dark-9);
  --info-10: var(--blue-dark-10);
  --info-11: var(--blue-dark-11);
  --info-12: var(--blue-dark-12);
  --success-1: var(--green-dark-1);
  --success-2: var(--green-dark-2);
  --success-3: var(--green-dark-3);
  --success-4: var(--green-dark-4);
  --success-5: var(--green-dark-5);
  --success-6: var(--green-dark-6);
  --success-7: var(--green-dark-7);
  --success-8: var(--green-dark-8);
  --success-9: var(--green-dark-9);
  --success-10: var(--green-dark-10);
  --success-11: var(--green-dark-11);
  --success-12: var(--green-dark-12);
  --error-1: var(--red-dark-1);
  --error-2: var(--red-dark-2);
  --error-3: var(--red-dark-3);
  --error-4: var(--red-dark-4);
  --error-5: var(--red-dark-5);
  --error-6: var(--red-dark-6);
  --error-7: var(--red-dark-7);
  --error-8: var(--red-dark-8);
  --error-9: var(--red-dark-9);
  --error-10: var(--red-dark-10);
  --error-11: var(--red-dark-11);
  --error-12: var(--red-dark-12);
}

@theme inline {
  --color-info-1: var(--info-1);
  --color-info-2: var(--info-2);
  --color-info-3: var(--info-3);
  --color-info-4: var(--info-4);
  --color-info-5: var(--info-5);
  --color-info-6: var(--info-6);
  --color-info-7: var(--info-7);
  --color-info-8: var(--info-8);
  --color-info-9: var(--info-9);
  --color-info-10: var(--info-10);
  --color-info-11: var(--info-11);
  --color-info-12: var(--info-12);
  --color-error-1: var(--error-1);
  --color-error-2: var(--error-2);
  --color-error-3: var(--error-3);
  --color-error-4: var(--error-4);
  --color-error-5: var(--error-5);
  --color-error-6: var(--error-6);
  --color-error-7: var(--error-7);
  --color-error-8: var(--error-8);
  --color-error-9: var(--error-9);
  --color-error-10: var(--error-10);
  --color-error-11: var(--error-11);
  --color-success-1: var(--success-1);
  --color-success-2: var(--success-2);
  --color-success-3: var(--success-3);
  --color-success-4: var(--success-4);
  --color-success-5: var(--success-5);
  --color-success-6: var(--success-6);
  --color-success-7: var(--success-7);
  --color-success-8: var(--success-8);
  --color-success-9: var(--success-9);
  --color-success-10: var(--success-10);
  --color-success-11: var(--success-11);
  --color-success-12: var(--success-12);
}
